name: "File Copy Workflow"
on: [push]

jobs:
  file-copy:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Copy single file
        uses: ./.github/actions/copy-file-action
        with:
          contents: "source.txt"
          source_folder: "feed/test/main"
          target_folder: "artifact/main/test"

      - name: Copy a multiple file
        uses: ./.github/actions/copy-file-action
        with:
          contents: "source.txt,example.txt"
          source_folder: "feed/test/main"
          target_folder: "artifact/main/two"

      - name: Copy a multiple folder
        uses: ./.github/actions/copy-file-action
        with:
            contents: "folder1/*,folder2/*,folder3/*"
            source_folder: "feed"
            target_folder: "artifact/main/folders"


      - name: Copy a star folder
        uses: ./.github/actions/copy-file-action
        with:
            contents: "*"
            source_folder: "feed"
            target_folder: "artifact/main/star"

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
            name: drop
            path: ${{ github.workspace }}/artifact
